.header-container {
	display: flex;
	height: 65px;
	padding: var(--spacing-small);
	background-color: var(--color-medium);
}
.header-container1 {
	height: 50px;
	background-color: var(--color-medium);
}
.header-counter {
	margin-left: auto;
	padding-right: var(--spacing-small);
	font-weight: bold;
}
ul.hr li {
	display: inline;
	/* Отображать как строчный элемент */
}
.curs {
	cursor: pointer;
	margin-left: 20px;
}
.footerd {
	margin-top: 30px;
}
a {
	text-decoration: none;
	/* Отменяем подчеркивание у ссылки */
}
a:visited {
	color: black;
	/* Цвет посещенных ссылок */
}
a:active {
	color: black;
	/* Цвет активных ссылок */